on boot
    chown root system /dev/spidev0.0
    chmod 0660 /dev/spidev0.0
    chown root system /dev/spidev0.1
    chmod 0660 /dev/spidev0.1
    chown root system /dev/spidev10.0
    chmod 0660 /dev/spidev10.0
    chown root system /dev/uinput
    chmod 0660 /dev/uinput

service potvolumed /vendor/bin/potvolumed
    class main
    user system
    group system
